body {
	background: #ebeff2;
	top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    margin-top: 0;
    margin: auto;
	font-family: Verdana, sans-serif;
	width: 100%;
	height: 100%;
	/* overflow: hidden; */
}

h1 {
	font-size: 2rem;
	font-weight: 450;
	font-style: normal;
	font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	line-height: 1.2;
}

#maybe {
	display: inline-block;
	border-bottom: double 5px black;
	/* text-decoration: underline double black; */
}

.index-title {
	margin-top: 4rem;
}

#searchbox,#nextform {
	width: 30%;
	position: fixed;
	top: 33rem;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 2;
}


#anime-title,#requesttitle {
	height: 3rem;
	margin-bottom: 2rem;
	border-radius:7px;
	box-shadow: 0px 0.5px 0.5px rgba(0, 0, 0, 0.3);
}

#resultbox {
	margin-top: 1rem;
	max-height: 20.6rem;
	overflow: scroll;
	
}

.title {
	font-size: 2rem;
	margin-top: 1rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

#noresult {
	font-size: 2rem;
	margin-top: 4rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.imagebox {
	width: 10rem;
	position: fixed;
	top: 270px;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 0;
}

#image {
	height: 10rem;
	width: 10rem;
	box-shadow: 0px 1.5px 1.5px rgba(0, 0, 0, 0.3);
}

#quote {
	font-size: 0.7rem;
	text-align: left;
	margin: 0;
	margin-bottom: 8px;
}

.button {
	width: 6rem;
    height: 4rem;
    color: #FFFFFF;
	background: #008DDD;
	box-shadow: 0px 1.5px 1.5px rgba(0, 0, 0, 0.3);
}

.submit-button {
	width: 5rem;
    height: 2rem;
	color: #FFFFFF;
	background: #008DDD;
	box-shadow: 0px 1.5px 1.5px rgba(0, 0, 0, 0.3);
}

#nextbutton {
	margin-bottom: 1rem;
}

#btn_action2 {
	margin-bottom: 0;
}

.ui-dialog {
	background: #3CB371;
	border-radius:7px;
	box-shadow: 0px 1.5px 1.5px rgba(0, 0, 0, 0.3);
}

.ui-widget-header {
	background: #3CB371;
	border: none;
}

/* footer {
	width: 100%;
	text-align: center;
	position: absolute;
	bottom: 0;
	z-index: 1;
} */

@media (max-width:1024px){
	.body {
		width: 100%;
	}
	.imagebox {
		top: 20rem;
	}
	#searchbox,#nextform {
		top: 34rem;
	}
}
@media (max-width:768px){
	.body {
		height: 100%;
	}
	#searchbox,#nextform {
		width: 50%;
		/* top: 40rem; */
	}
	#resultbox {
		max-height: 21rem;
	}
}
@media (max-width:720px){
	#searchbox,#nextform {
		width: 50%;
	}
}
@media (max-width:600px){
	#resultbox {
		max-height: 20.5rem;
	}
}
@media (max-width:414px){
	.body {
		width: 100%;
	}
	#searchbox,#nextform {
		width: 19rem;
		top: 33rem;
	}
	#resultbox {
		max-height: 22rem;
		margin-top: 0;
	}
	.imagebox {
		top: 17rem;
	}
}
@media (max-width:411px){
	#resultbox {
		max-height: 21.7rem;
	}
}
@media (max-width:375px){
	#searchbox,#nextform {
		top: 27rem;
	}
	#resultbox {
		max-height: 19.5rem;
	}
	#image {
		height: 9rem;
		width: 9rem;
	}
	.imagebox {
		width: 9rem;
		top: 15rem;
	}
}
@media (max-width:360px){
	#searchbox,#nextform {
		width: 16rem;
		top: 30rem;
	}
	#resultbox {
		max-height: 18.5rem;
		}
	.imagebox {
		top: 16rem;
	}
}
@media (max-width:320px){
	.title {
		font-size: 1.5rem;
	}
	#anime-title {
		margin-bottom: 1rem;
	}
	#resultbox {
		max-height: 16rem;
	}
	#image {
		height: 7rem;
		width: 7rem;
		margin-top: 1rem;
	}
	.imagebox {
		width: 7rem;
		top: 13rem;
	}
	#searchbox,#nextform {
		top: 27rem;
	}
	.button {
		width: 5rem;
		height: 3rem;
		font-size: 12px;
	}

}