body {
	background: #ebeff2;
	top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    margin-top: 0;
    margin: auto;
    margin: auto;
    margin: auto;
    font-size: 16px;
	font-family: Verdana, sans-serif;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.body {
	background: url('../img/the-background-352165_1280.png');
	background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
	text-align: center;
	margin: auto;
	display: block;
	width: 40%;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

h1 {
	font-size: 2rem;
}

p {
	margin-bottom: 0.5rem;
}

.index-title {
	margin-top: 4rem;
}

#searchbox,#nextform {
	width: 30%;
	position: fixed;
	top: 75%;
	left: 50%;
	transform: translate(-50%, -50%);
}


#anime-title,#requesttitle {
	height: 3rem;
	margin-bottom: 2rem;
	border-radius:7px;
	box-shadow: 0px 0.5px 0.5px rgba(0, 0, 0, 0.3);
}

#resultbox {
	margin-top: 3rem;
	max-height: 20.6rem;
	overflow: scroll;
	
}

#title {
	font-size: 2rem;
	margin-top: 1rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

#noresult {
	font-size: 2rem;
	margin-top: 4rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

#imagebox {
	width: 10rem;
	position: fixed;
	top: 270px;
	left: 50%;
	transform: translate(-50%, -50%);
}

#image {
	height: 10rem;
	width: 10rem;
	box-shadow: 0px 1.5px 1.5px rgba(0, 0, 0, 0.3);
}

#quote {
	font-size: 0.7rem;
	text-align: left;
}

.button {
	width: 6rem;
    height: 4rem;
    color: #FFFFFF;
	background: #008DDD;
	box-shadow: 0px 1.5px 1.5px rgba(0, 0, 0, 0.3);
}

.submit-button {
	width: 5rem;
    height: 2rem;
	color: #FFFFFF;
	background: #008DDD;
	box-shadow: 0px 1.5px 1.5px rgba(0, 0, 0, 0.3);
}

#nextbutton {
	margin-bottom: 1rem;
}

#btn_action2 {
	margin-bottom: 0;
}

.ui-dialog {
	background: #3CB371;
	border-radius:7px;
	box-shadow: 0px 1.5px 1.5px rgba(0, 0, 0, 0.3);
}

.ui-widget-header {
	background: #3CB371;
	border: none;
}

footer {
	width: 100%;
	text-align: center;
	position: absolute;
    bottom: 0;
}

@media (max-width:1024px){
	.body {
		width: 60%;
	}
	#imagebox {
		top: 20rem;
	}
}
@media (max-width:768px){
	.body {
		width: 80%;
		height: 100%;
	}
	#searchbox,#nextform {
		width: 50%;
	}
	#resultbox {
		max-height: 21rem;
	}
}
@media (max-width:720px){
	.body {
		width: 80%;
	}
	#searchbox,#nextform {
		width: 50%;
	}
}
@media (max-width:600px){
	.body {
		width: 90%;
	}
	#resultbox {
		max-height: 20.5rem;
	}
}
@media (max-width:414px){
	.body {
		width: 100%;
		/* height: 36rem; */
	}
	#searchbox,#nextform {
		width: 70%;
	}
	#resultbox {
		max-height: 22rem;
		margin-top: 0;
	}
}
@media (max-width:411px){
	.body {
		width: 100%;
		/* height: 37rem; */
	}
	#searchbox,#nextform {
		width: 70%;
	}
	#resultbox {
		max-height: 21.7rem;
	}
}
@media (max-width:375px){
	.body {
		width: 100%;
		/* height: 34rem; */
	}
	#resultbox {
		max-height: 19.5rem;
	}
	#image {
		height: 9rem;
		width: 9rem;
	}
	#imagebox {
		width: 9rem;
	}
}
@media (max-width:360px){
	.body {
		width: 100%;
	}
	#searchbox,#nextform {
		width: 70%;
	}
	#resultbox {
		max-height: 18.5rem;
		}
	#imagebox {
		top: 250px;
	}
}
@media (max-width:320px){
	.body {
		width: 100%;
	}

	#title {
		font-size: 1.5rem;
	}
	#searchbox,#nextform {
		width: 80%;
	}

	#anime-title {
		margin-bottom: 1rem;
	}

	#resultbox {
		max-height: 16rem;
	}
	#image {
		height: 7rem;
		width: 7rem;
		margin-top: 1rem;
	}
	#imagebox {
		width: 7rem;
		top: 220px;
	}
	.button {
		width: 5rem;
		height: 3rem;
		font-size: 12px;
	}

}
	